body {
    border: 2px dashed red;
    margin-left: 20%;
    margin-right: 20%;
}

.banner {
    background-image: url(../img/pattern.png);
    background-color: rgb(78, 160, 255);
    height: 180px;
    border: 2px dashed red;
}

h1 {
    margin-bottom: 1px;
}

#logo {
    width: 15%;
    margin-top: 85px;
}

.subtitle {
    color: grey;
}

#booleaner {
    color: rgb(43, 206, 235);
}

#subtitle-date {
    color: grey;
    font-size: 12px;
}

.photo-desc {
    font-size: 12px;
}

.marked {
    background-color: rgb(240, 222, 66);
}

th {
    background-color: rgb(32, 169, 229);
    color: white;
}

tr:last-child {
    background-color: rgb(177, 229, 242);
}

tr:first-child {
    background-color: rgb(177, 229, 242);
}