/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: 1px dashed red;
    margin-left: 20%;
    margin-right: 20%;
}

.banner {
    background-image: url(../img/pattern.png);
    background-color: rgb(78, 160, 255);
    border: 1px dashed red;
    background-image: cover;
}

h1 {
    margin-bottom: 1px;
    font-size: 30px;
}

#logo {
    height: 50px;
    margin-top: 85px;
}

address {
    font-style: normal;
    font-size: 14px;
}

figure {
    margin: 0;
}

ul {
    padding-inline-start: 0;
}

th {
    background-color: rgb(32, 169, 229);
    color: white;
}

tr:last-child {
    background-color: rgb(177, 229, 242);
}

tr:first-child {
    background-color: rgb(177, 229, 242);
}

h3 {
    color: gray;
}

table {
    border-collapse: collapse;
}

.table-left {
    width: 25%;
}

.table-center {
    width: 25%;
}

.table-right {
    width: 48%;
}