/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: 1px dashed red;
    margin-left: 20%;
    margin-right: 20%;
}

.banner {
    background-image: url(../img/pattern.png);
    background-color: rgb(78, 160, 255);
    border: 1px dashed red;
    background-image: cover;
}

h1 {
    margin-bottom: 1px;
}

#logo {
    width: 15%;
    margin-top: 85px;
}

.subtitle {
    color: grey;
}

#booleaner {
    color: rgb(43, 206, 235);
}

#subtitle-date {
    color: grey;
    font-size: 12px;
}

.photo-desc {
    font-size: 12px;
}

.marked {
    background-color: rgb(240, 222, 66);
}

th {
    background-color: rgb(32, 169, 229);
    color: white;
}

tr:last-child {
    background-color: rgb(177, 229, 242);
}

tr:first-child {
    background-color: rgb(177, 229, 242);
}

h3 {
    color: gray;
}

table {
    border-spacing: 0;
}

.table-left {
    width: 25%;
}

.table-center {
    width: 25%;
}

.table-right {
    width: 48%;
}